<footer>
    <div class="footer__content">
        <strong>&copy; 2024 TP JAVA. Tous droits réservés.
            <a href="#">Politique de confidentialité</a>
            <a href="#">Conditions d'utilisation</a>
            <a href="#">Contactez-nous</a>
        </strong>
        <strong>Made with ❤️ by :
            <a href="https://github.com/Oscar-AGUDELO" target="_blank">Oscar AGUDELO</a>
            <a href="https://github.com/panxoo" target="_blank">Francisco DURAN</a>
        </strong>
    </div>
</footer>