.championat__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.championat__tablecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(50% - 1rem);
}

@media (max-width: 700px) {
    .championat__tablecontainer {
        width: 100%;
    }

    .championat__tablecontainer:nth-child(2) {
        margin-top: 3rem;
    }
}

.championat__content {
    background-color: #e5f5ff;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: -1px 0px 11px -3px rgba(0, 0, 0, 0.64);
}

.championat__container button {
    margin-top: 1rem;
}

.championat__content tr {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.championat__content tr th {
    text-align: start;
    margin-right: 1rem;
}

.clickEquipeResult {
    cursor: pointer;

}

.clickEquipeResult:hover {
    font-weight: bolder;


}