<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="./favicon.png" rel="icon"/>
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"
    />
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.0/css/flag-icons.min.css" rel="stylesheet">

    <title th:text="${championat.nom}"></title>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style_championadetail.css" rel="stylesheet"/>
</head>
<body>

<div class="include__container" th:include="fragments/header :: header"></div>
<main>
    <h1 th:text="'Championat : ' + ${championat.nom}"></h1>
    <h4>Vous pouvez éditer ce championat que si vous êtes connecté.
    </h4>
    <div class="championat__container">
        <div class="championat__tablecontainer">
            <table class="championat__content">
                <caption><h3>Détails</h3></caption>
                <tr>
                    <th><strong>Nom:</strong></th>
                    <td><p th:text="${championat.nom}"></p></td>
                </tr>
                <tr>
                    <th><strong>Logo:</strong></th>
                    <td><img alt="Logo du championnat" th:src="'/uploaded-images/' + ${championat.logo}" width="30px">
                    </td>
                </tr>
                <tr>
                    <th><strong>Date de début:</strong></th>
                    <td><p th:text="${#dates.format(championat.dateDebut, 'yyyy-MM-dd')}"></p></td>
                </tr>
                <tr>
                    <th><strong>Date de fin:</strong></th>
                    <td><p th:text="${#dates.format(championat.dateFin, 'yyyy-MM-dd')}"></p></td>
                </tr>
                <tr>
                    <th><strong>Point Gagné:</strong></th>
                    <td><p th:text="${championat.pointGagne}"></p></td>
                </tr>
                <tr>
                    <th><strong>Point Perdu:</strong></th>
                    <td><p th:text="${championat.pointPerdu}"></p></td>
                </tr>
                <tr>
                    <th><strong>Point Nul:</strong></th>
                    <td><p th:text="${championat.pointNul}"></p></td>
                </tr>
            </table>
            <button data-th-if="${session.user != null}"
                    th:onclick="|window.location.href='/championupd?id=${championat.id}'|">Modifier
            </button>
        </div>
        <div class="championat__tablecontainer">
            <table class="championat__content">
                <caption><h3>Équipes</h3></caption>
                <thead>
                <tr>
                    <th scope="col">Date Matchs</th>
                    <th scope="col">Journee</th>
                    <th scope="col">Stade</th>
                    <th scope="col">Equipe 1</th>
                    <th scope="col">Points</th>
                    <th scope="col">Equipe 2</th>
                    <th scope="col">Points</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="matchGame : ${matchGames}">

                    <td th:text="${#dates.format(matchGame.dateMatchs, 'yyyy-MM-dd') }"></td>
                    <td th:text="${matchGame.journee.numero} + '°'"></td>
                    <td th:text="${matchGame.stade.nom}"></td>

                    <td>
                        <img class="imgtable" th:src="${ '/uploaded-images/' + matchGame.equipe1.logo }" width="30px">
                        <span th:text="${matchGame.equipe1.nom}"></span>
                    </td>

                    <td th:text="${matchGame.pointsEquipe1}"></td>
                    <td>
                        <img class="imgtable" th:src="${ '/uploaded-images/' + matchGame.equipe2.logo }" width="30px">
                        <span th:text="${matchGame.equipe2.nom}"></span>
                    </td>
                    <td th:text="${matchGame.pointsEquipe2}"></td>

                </tr>
                </tbody>
            </table>

            <button data-th-if="${session.user != null}">Gérer les équipes</button>
        </div>
    </div>
    <br/>
    <br/>
    <br/>


</main>
<div class="include__container" th:include="fragments/footer :: footer"></div>

</body>
</html>