<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="./favicon.png" rel="icon"/>
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"
    />
    <title>Ajouter un Championat</title>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style_championadd.css" rel="stylesheet"/>
</head>
<body>

<div class="include__container" th:include="fragments/header :: header"></div>
<main>
    <h1>Complétez ce formulaire pour ajouter un Championat</h1>
    <h4>Veuillez remplir le formulaire ci-dessous pour ajouter un nouveau championnat à notre base de données. Les
        champs marqués d'un astérisque (*) sont obligatoires.</h4>
    <form accept-charset="utf-8" action="#" data-th-action="@{/championadd}" data-th-object="${championat}"
          enctype="multipart/form-data"
          method="post">
        <div class="input__container">
            <label for="nom">Nom *</label>
            <input class="inputChamp" data-th-field="*{nom}" placeholder="Nom *" type="text"/>
            <span class="error" data-th-errors="*{nom}" data-th-if="${#fields.hasErrors('nom')}"></span>
        </div>
        <div class="input__container">
            <label for="pays">Pays *</label>
            <select placeholder="Pays *" th:field="*{pays.id}">
                <option value="0">Aucun</option>
                <option th:each="pays : ${paysList}" th:text="${pays.nom}" th:value="${pays.id}"></option>
            </select>
            <span class="error" data-th-errors="*{pays.nom}" data-th-if="${#fields.hasErrors('pays.nom')}"></span>
        </div>
        <div class="championadd_rows-container">

            <div class="input__container">
                <label for="dateDebut">Date Debut *</label>
                <input class="inputChamp" data-th-field="*{dateDebut}" placeholder="Date début *" type="date"/>
                <span class="error" data-th-errors="*{dateDebut}" data-th-if="${#fields.hasErrors('dateDebut')}"></span>
            </div>
            <div class="input__container">
                <label for="dateFin">Date Fin *</label>
                <input class="inputChamp" data-th-field="*{dateFin}" placeholder="Date fin *" type="date"/>
                <span class="error" data-th-errors="*{dateFin}" data-th-if="${#fields.hasErrors('dateFin')}"></span>
            </div>
        </div>
        <div class="championadd_rows-container">
            <div class="input__container">
                <label for="pointGagne">Victoire *</label>
                <input class="inputChamp" data-th-field="*{pointGagne}" placeholder="Victoire *" type="number"/>
                <span class="error" data-th-errors="*{pointGagne}"
                      data-th-if="${#fields.hasErrors('pointGagne')}"></span>
            </div>
            <div class="input__container">
                <label for="pointPerdu">Défaite *</label>
                <input class="inputChamp" data-th-field="*{pointPerdu}" placeholder="Défaite *" type="number"/>
                <span class="error" data-th-errors="*{pointPerdu}"
                      data-th-if="${#fields.hasErrors('pointPerdu')}"></span>
            </div>
            <div class="input__container">
                <label for="pointNul">Égalité *</label>
                <input class="inputChamp" data-th-field="*{pointNul}" placeholder="Égalité *" type="number"/>
                <span class="error" data-th-errors="*{pointNul}"
                      data-th-if="${#fields.hasErrors('pointNul')}"></span>
            </div>
        </div>
        <div class="input__container">
            <label>Logo *</label>
            <input accept="image/*" class="form-control-file" name="image" type="file">
        </div>

        <div class="input__container">
            <label  >Equipes Championat *</label>
            <div th:each="equipe : ${equipes}">
                <input type="checkbox" th:field="*{equipes}" th:value="${equipe.id}">
                <label th:text="${equipe.nom}"></label>
            </div>
           <!-- <span class="error" data-th-errors="*{pays.nom}" data-th-if="${#fields.hasErrors('pays.nom')}"></span>-->
        </div>

        <input class="submitBtn" type="submit" value="Valider"/>
    </form>

    <br/>
    <br/>
    <div th:if="${error != null && !error.isBlank()}">
        Erreur : <span th:text="${error}"></span>
    </div>

</main>
<div class="include__container" th:include="fragments/footer :: footer"></div>

</body>
</html>