<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Équipe</title>
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.0/css/flag-icons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style_equipeadd.css" rel="stylesheet"/>
</head>

<body>

<div class="include__container" th:include="fragments/header :: header"></div>
<main data-th-if="${session.user != null}">
    <h1>Complétez ce formulaire pour ajouter un Équipe</h1>
    <h4>Veuillez remplir le formulaire ci-dessous pour ajouter un nouveau Équipe à notre base de données. Les
        champs marqués d'un astérisque (*) sont obligatoires.</h4>
    <form accept-charset="utf-8" action="#" data-th-action="@{/equipeadd}" data-th-object="${equipe}"
          enctype="multipart/form-data"
          method="post">
        <div class="input__container">
            <label>Nom *</label>
            <input class="inputChamp" data-th-field="*{nom}" placeholder="Nom *" type="text"/>
            <span class="error" data-th-errors="*{nom}" data-th-if="${#fields.hasErrors('nom')}"></span>
        </div>
        <div class="input__container">
            <label>Stade *</label>
            <select placeholder="Stade *" th:field="*{stade.id}">
                <option value="0">Aucun</option>
                <option th:each="stade : ${stades}" th:text="${stade.nom}" th:value="${stade.id}"></option>
            </select>
            <span class="error" data-th-errors="*{stade.nom}" data-th-if="${#fields.hasErrors('stade.nom')}"></span>
        </div>
        <div class="input__container">
            <label>Date création *</label>
            <input class="inputChamp" data-th-field="*{dateCreation}" placeholder="Date création *" type="date"/>
            <span class="error" data-th-errors="*{dateCreation}"
                  data-th-if="${#fields.hasErrors('dateCreation')}"></span>

        </div>

        <div class="input__container">
            <label>Logo *</label>
            <input accept="image/*" class="form-control-file" name="image" type="file">
        </div>

        <div class="championadd_rows-container">
            <div class="input__container">
                <label>Entraîneur *</label>
                <input class="inputChamp" data-th-field="*{nomEntraineur}" placeholder="Entraîneur *" type="text"/>
                <span class="error" data-th-errors="*{nomEntraineur}"
                      data-th-if="${#fields.hasErrors('nomEntraineur')}"></span>
            </div>

            <div class="input__container">
                <label>Président *</label>
                <input class="inputChamp" data-th-field="*{president}" placeholder="Président *" type="text"/>
                <span class="error" data-th-errors="*{president}" data-th-if="${#fields.hasErrors('president')}"></span>
            </div>
        </div>
        <div class="championadd_rows-container">
            <div class="input__container">
                <label>Status *</label>
                <input class="inputChamp" data-th-field="*{status}" placeholder="Status *" type="text"/>
                <span class="error" data-th-errors="*{status}" data-th-if="${#fields.hasErrors('status')}"></span>
            </div>

            <div class="input__container">
                <label>Siège *</label>
                <input class="inputChamp" data-th-field="*{siege}" placeholder="Siège *" type="text"/>
                <span class="error" data-th-errors="*{siege}" data-th-if="${#fields.hasErrors('siege')}"></span>
            </div>

            <div class="input__container">
                <label>Téléphone *</label>
                <input class="inputChamp" data-th-field="*{telephone}" placeholder="Téléphone *" type="text"/>
                <span class="error" data-th-errors="*{telephone}" data-th-if="${#fields.hasErrors('telephone')}"></span>
            </div>

        </div>
        <div class="input__container">
            <label>Link Web *</label>
            <input class="inputChamp" data-th-field="*{siteWeb}" placeholder="Link Web *" type="text"/>
            <span class="error" data-th-errors="*{siteWeb}" data-th-if="${#fields.hasErrors('siteWeb')}"></span>
        </div>

        <input class="submitBtn" type="submit" value="Valider"/>
    </form>


    <br/>
    <br/>
    <div th:if="${error != null && !error.isBlank()}">
        Erreur : <span th:text="${error}"></span>
    </div>
</main>
<div class="include__container" th:include="fragments/footer :: footer"></div>

</body>
</html>