<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"
    />
    <title>App Champioinat : Oscar et Francisco</title>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.0/css/flag-icons.min.css" rel="stylesheet">
</head>
<body>
<div class="include__container" th:include="fragments/header :: header"></div>
<main>
    <table th:each="pays : ${payslist}">
        <caption><h2 th:text="${pays.nom}"></h2></caption>
        <tbody style="display: flex;justify-content: space-around;align-items: center;">
        <tr th:each="championat : ${pays.championats}">
            <td>
                <a data-th-href="@{'championtresultat?id=' + ${championat.id}}" style="text-decoration: none">
                    <i th:class="${pays.logo}"></i>
                    <span th:text="${championat.nom}"></span>
                </a>
            </td>
        </tr>
        </tbody>
        <br/>
    </table>
</main>
<div class="include__container" th:include="fragments/footer :: footer"></div>
</body>
</html>