<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"
    />
    <title>Tous les championats</title>
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.0/css/flag-icons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>

<div class="include__container" th:include="fragments/header :: header"></div>
<main>
    <h1>Championats</h1>
    <h4>Vous trouverez dans cette page la liste de tous les Championats.</h4>

    <table>
        <thead>
        <tr>
            <th scope="col">Logo</th>
            <th scope="col">Nom</th>
            <th scope="col">Pays</th>
            <th scope="col">Date Debut</th>
            <th scope="col">Date Fin</th>
            <th scope="col">Détails</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="championat : ${championats}">
            <td><img class="imgtable" th:src="${ '/uploaded-images/' + championat.logo }" width="30px"></td>
            <td data-th-text="${ championat.nom }"></td>
            <td><i th:class="${championat.pays.logo}"></i></td>
            <td data-th-text="${ #dates.format(championat.dateDebut, 'yyyy-MM-dd') }"></td>
            <td data-th-text="${ #dates.format(championat.dateFin, 'yyyy-MM-dd') }"></td>
            <td>
                <button th:onclick="|window.location.href='/championatdetail?id=${championat.id}'|">
                    Détails
                </button>
            </td>

        </tr>
        </tbody>
    </table>

    <br/>
    <br/>
    <br/>
    <button th:onclick="|window.location.href='/championadd'|">
        Ajouter Championat
    </button>
</main>
<div class="include__container" th:include="fragments/footer :: footer"></div>

</body>
</html>