<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"
    />
    <title>Tous les pays</title>
    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.0/css/flag-icons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<h1> sSSQDADAD</h1>
<div>
    <ul class="lista">
        <li th:each="elemento : ${pays}" th:value="${elemento}"><span th:classappend="${elemento.getLogo()}"></span>
            <span th:text="${ elemento.getNom()}"></span>
        </li>
    </ul>

</div>
</body>
</html>

